body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: Merriweather, sans-serif;
  font-size: 32px;
  line-height: 2.4rem;
  text-align: center;
}

#left-arrow {
  position: fixed;
  left: 32.5%;
  top: 220px;
  z-index: 2;
  background: white;
}

#right-arrow {
  position: fixed;
  left: 63%;
  top: 220px;
  z-index: 2;
  background: white;
}

.slide-show-box {
  margin: auto;
  width: 446px;
  height: 280px;
  overflow: hidden;
  background: #f3f3f3;
}

.slide-show {
  display: flex;
  transition: 250ms;
}

.slide {
  display: flex;
}

.image {
  padding: 15px 18px;
}

.text {
  width: 200px;
  height: 250px;
  line-height: 1.125rem;
}

.off {
  display: none;
}
