h1 {
  font-size: 32px;
  line-height: 2.4em;
  text-align: center;
}

.arrow {
  position: fixed;
  margin-left: 860px;
  margin-top: 440px;
}

.slide-show-box {
  margin: auto;
  width: 446px;
  height: 280px;
  overflow: hidden;
  background: #f3f3f3;
}

.slide-show {
  display: flex;
  transition: 250ms;
}

.slide {
  display: flex;
}

.image {
  padding: 15px 18px;
}

.text {
  width: 200px;
  height: 250px;
}

.off {
  display: none;
}
